<html lang="en">

<script>var homepage=true</script>

<head>
    <% include ../partials/header.ejs %>
</head>

<body id="page-top" class="fuelux">

  <header>
    <div class="header-content">
        <div class="header-content-inner">
            <img src="/img/examplfy-logo-white.png" width="400" height="280">
            <br>
            <a href="#question" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>

<section class="bg-primary" id="question">
    <div class="container text-center">
      <h3 class="text-faded">We will turn a question you need help with into a worked out example you can learn from.</h2>
      <hr class="light">
      <br>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-6 text-center">
                <h2 class="text-faded">Search our Database.</h2>
                <hr class="light">
                <p class="text-faded">Find video solutions to questions on one of our topics.</p>
                <form method="get" action="/search">
                      <input type="submit" value="Search" class="btn">
                </form>
            </div>
            <div class="col-lg-6 text-center">
              <h2 class="text-faded">Ask our tutors.</h2>
              <hr class="light">
              <p class="text-faded">Get a video tutorial explaining how to solve your problem.</p>
              <form method="get" action="/ask">
                    <input type="submit" value="Ask" class="btn">
              </form>
            </div>

        </div>
    </div>
</section>

<section class="bg-primary" style="background:#808080" id="about">
  <div class="container text-center">
    <h2>Who are we?</h2>
    <hr style="border-color:white">
    <p>We are a group of college students who have endured the frustration of staring at seemingly unsolvable
      questions for too long. We recognize problem sets, homeworks, and web assigns are designed to enhance our
      education, yet rarely find ourselves actually learning from them.</p>
    <br><br>
    <h2>What do we do?</h2>
    <hr style="border-color:white">
    <p>We turn your questions into worked out examples that you can learn from (For Free!).</p>
  </div>
</section>

<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Let's Get In Touch!</h2>
                <hr class="primary">
            </div>
            <div class="col-lg-4 col-lg-offset-2 text-center">
              <p>If you have any thoughts, comments or suggestions about Examplfy we would love to hear them! Reach out to us with your ideas.</p>
                <i class="fa fa-envelope-o fa-3x wow bounceIn"></i>
                <p><a href="mailto:your-email@your-domain.com">feedback@examplefy.com</a></p>
            </div>
            <div class="col-lg-4 text-center">
              <p>Interested in becoming an Examplfy tutor? Reach out to us and let us know what subjects you are interested in tutoring.</p>
                <br>
                <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p><a href="mailto:your-email@your-domain.com">contact@examplefy.com</a></p>
            </div>
        </div>
    </div>
</section>


    <% include ../partials/nav.ejs %>
    <% include ../partials/footer.ejs %>
</body>

</html>
